:root {
  --movement-color: #ffe100;
  --logic-color: #5e0eff;
  --operators-color: #ff0e0e;
  --loops-color: #12ff0e;
  --sensors-color: #ff0eef;
}

.app {
  display: flex;
  min-height: 100vh;
}

.codespace {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 20em;
  min-width: 5em;
  width: 28vw;
  background: #282f44;
  border-right: 3px #e6af2e solid;
}

.ToolBox {
  display: block;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #333c4a;
  background-image: linear-gradient(45deg, #282f44, #333c4a);
  min-width: 15em;
  flex: 1;
}

.header {
  display: flex;
  height: 4em;
  text-align: right;
  align-items: center;
  background-image: linear-gradient(to right, #282f44 15%, #494964);

  border-bottom: 3px #e6af2e solid;
}

.canvas {
  background: #181a2a;
  height: 90%;
  width: 92%;
  border: 5px #4b5667 solid;
  border-radius: 20px;
  margin-bottom: 50px;
}

html {
  background-color: white;
}

body {
  margin: 0px;
}

.header img:hover {
  transform: translate(0, -2px);
  transform: scale(1.2);
  background-image: radial-gradient(#f5d061 10%, #282f4400 68%);
}

.codesections {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.codeBank {
  display: flex;
  height: 100%;
  width: 100%;
}

.blockBank {
  background: #5f709e;
  border-radius: 0 15px 15px 0;
  flex: 1;
  margin: 0 5px 10px 0px;
  height: 100%;
  border-top: none;
  border-left: none;
  border-radius: 0 12px 12px 12px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

#blockBankTitle {
  background: gainsboro;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Passero One", sans-serif;
  color: #e6af2e;
  font-size: 45px;
}

.ToolBox {
  color: #ececec;
  font-family: "Passero One", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: #e6af2e solid 5px;
}

.codesectionbutton img {
  display: inline;
  width: 40px;
}

.codesectionbutton:hover {
  background: #737555;
  width: 110%;
}

.codesectionbutton {
  width: 100%;
  border: none;
  height: 15%;
  text-align: center;
  background: #4b4c67;
  color: whitesmoke;
  font-family: "Passero One", sans-serif;
  font-size: 30px;
}

@media screen and (width <= 443px) {
  .codesectionbutton {
    width: 100%;
    border: none;
    height: 15%;
    text-align: center;
    background: #4b4c67;
    color: whitesmoke;
    font-family: "Passero One", sans-serif;
    font-size: 13px;
  }
}
