.first-color {
  background: #282f44;
}

.second-color {
  background: #e6af2e;
}

.third-color {
  background: #f5d061;
}

.fourth-color {
  background: #ececec;
}

.app {
  display: flex;
  min-height: 100vh;
}

.codespace {
  display: flex;
  justify-content: left;
  align-items: baseline;
  max-width: 20em;
  min-width: 5em;
  width: 20vw;
  background: #282f44;
  border-right: 3px #e6af2e solid;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #333c4a;
  background-image: linear-gradient(45deg, #282f44, #333c4a);
  min-width: 15em;
  flex: 1;
}

.header {
  display: flex;
  height: 4em;
  text-align: right;
  align-items: center;
  background-image: linear-gradient(to right, #282f44 15%, #494964);

  border-bottom: 3px #e6af2e solid;
}

.canvas {
  background: #181a2a;
  height: 90%;
  width: 92%;
  border: 5px #4b5667 solid;
  border-radius: 20px;
  margin-bottom: 50px;
}

html {
  background-color: white;
}

body {
  margin: 0px;
}

.header img:hover {
  transform: translate(0, -2px);
  transform: scale(1.2);
  background-image: radial-gradient(#f5d061 10%, #282f4400 68%);
}

.codesections {
  height: 70%;
  width: 100%;
  max-width: 15em;
}

.codesectionbutton:hover {
  background: #66674b;
}

.codesectionbutton {
  width: 100%;
  border: none;
  height: 15%;
  text-align: left;
  background: #4b4c67;
  color: whitesmoke;
  font-family: "Passero One", sans-serif;
  font-size: 25px;
}

@media screen and (width <= 513px) {
  .codesectionbutton {
    width: 100%;
    border: none;
    height: 15%;
    text-align: left;
    background: #4b4c67;
    color: whitesmoke;
    font-family: "Passero One", sans-serif;
    font-size: 13px;
  }
}
